Python/DAY-30/vehicleapp/venv
Python/DAY-31/auto_app/.venv
Python/DAY-32/bmw_api/.venv
Python/DAY-32/pyspark/.venv
Python/DAY-33/pyspark/.venv
Python/DAY-33/pyspark/src/modules/.env
**/__pycache__/
*.py[cod]